.green
{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #53AD79;
}

.yellow
{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #f39c12;
}


.text-danger {
    color: red;
}

.right {
    float: right;
}

.achieved input {
    margin-left: 1rem;
}

.achieved label {
    margin-left: 0.5rem;
}